<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <form th:action="@{/delete/{id}(id=${book.id})}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/edit/{id}(id=${book.id})}" method="get">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/addbook}" method="get">
        <button type="submit" class="btn btn-success">Add Book</button>
    </form>
</body>
</html>